.turf-map{
  margin-top: 10px;
  text-align: center;
}
.turf-map img{
  width:100%;
  max-width:500px;
  border-radius:12px;
  border:1px solid rgba(255,255,255,0.05);
}

.members-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:12px;
  margin-top:10px;
}

.member-card{
  background:rgba(255,255,255,0.02);
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.member-card img{https://i.ibb.co/tP33Sj8Z/GTA5-2025-07-18-05-07-43-503.webp
  width:100%;
  max-width:120px;
  border-radius:50%;
  margin-bottom:6px;
  border:1px solid rgba(255,255,255,0.05);
}
